h1, h2 {
  text-align: center;
}

.sidebar {
  float: left;
  border: 2px solid green;
  width: 20%;
  background-color: beige;
  height: 500px;
  padding: 16px;
  margin: 10px;
}

.img1 {

}

img {
  float: right;
  max-width: 50%;
  max-height: auto;
  padding-bottom:20px;
}
