h1, h2 {
  text-align: center;
}

.sidebar {
  float: left;
  border: 2px solid green;
  width: 20%;
  background-color: beige;
  height: 500px;
}

.img1 {

}

img {
  float: right;
  width: 75%;
  height: ;
  padding-bottom:20px;
}
